
<h1 class="text-center mt-4">Showing Content</h1>
<div class="container">
        
    <div class="row justify-content-md-center ">
        <div class="col-8 mt-4">
            <div class="card text-center text-light shadow mb-3 bg-dark rounded">
                <div class="card-header border-white fst-italic">
                <% @content.users.each do |user| %>
                    by <%= user.username %>
                <% end %>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= @content.title %></h5>
                    <p class="card-text"><%= @content.description %></p>
                    
                    <% @content.users.each do |user| %>
                        <% if user == current_user %>
                            <%= link_to "Edit", edit_content_path(@content), class:"btn btn-outline-primary" %>
                            <%= link_to "Delete", content_path(@content), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
                        <% end %>
                    <% end %>

                    <%= link_to "Back to Contents", contents_path, class:"btn btn-outline-success" %>
                    <div class="text-start">
                        <% if @content.attached_contents != [] %>
                            <h6 class="py-3">ASSOCIATED CONTENTS OF SAME USER</h6>
                        <% end %>
                        <% @subcontents.each do |subcontent| %>
                            <%= link_to subcontent.title,content_path(subcontent), class:"btn btn-outline-info" %>
                        <% end %>

                    </div>
                </div>
                    
                <div class="card-footer text-body-secondary border-white">
                    <small class= "text-light">Created <%= time_ago_in_words(@content.created_at) %>
                    edited <%= time_ago_in_words(@content.updated_at) %>
                    </small>
                </div>

            </div>

            
        </div>
        <% if user_signed_in? %>

        <div class="d-flex justify-content-between mt-4">
                <div class="col-6 py-3 card text-center text-light shadow mx-1 bg-dark rounded">
                    <h4>Comments</h4>
                    <% @comments.each do |comment| %>
                        <div class="text-dark bg-light p-1 m-1 rounded" style="background: floralwhite !important;">
                                <div class="d-block text-start">
                                    <span class="d-block fst-italic">by <strong><%= User.find(comment.user_id).username %></strong></span>
                                    <span class="d-block px-2"><%= comment.note %></span>
                                </div>
                        </div>
                    <% end %>

                    <%= render partial: 'comments/form', locals: {commented_on: @content}%>

                </div>
                <div class="col-6 py-3 card text-center text-light shadow mx-1 bg-dark rounded">
                    <h4>Feedback</h4>

                    <%= render 'feedbacks/feedbacks', feedback_on: @content %>

                    <%= render partial: 'feedbacks/form', locals: {feedback_on: @content}%>
                </div>
                
        </div>

        <% end %>
    </div>

</div>