<%= render "devise/shared/error_messages", resource: resource %>

<h2 class="text-center my-4">Edit <%= resource_name.to_s.humanize %></h2>
<div class="container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="row mb-3">
        <%= f.label :username, class: "col-sm-2 col-form-label text-dark fw-bold " %>
        <div class="col-sm-10">
          <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control" %>
        </div>
      </div>

      <div class="row mb-3">
        <%= f.label :email, class: "col-sm-2 col-form-label text-dark fw-bold " %>
        <div class="col-sm-10">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
      </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="row mb-3">
        <%= f.label :password, class: "col-sm-2 col-form-label text-dark fw-bold " %>
        <div class="col-sm-10">
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>
    </div>

    <div class="row mb-3">
        <%= f.label :password_confirmation, class: "col-sm-2 col-form-label text-dark fw-bold " %>
        <div class="col-sm-10">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>
    </div>

    <div class="row mb-3">
        <%= f.label :current_password, class: "col-sm-2 col-form-label text-dark fw-bold " %>
        <div class="col-sm-10">
          <%= f.password_field :current_password, autocomplete: "current_password", class: "form-control" %>
        </div>
    </div>

    <div class="text-center">
    <%= f.submit "Update", class: "btn btn-primary py-2 px-4" %>
    </div>
  <% end %>
</div>

<h3 class="text-center my-4">Cancel my account</h3>

<div class="text-center my-4">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<%= link_to "Back", :back %>
