<div class="mt-5">  
  <div class="d-flex justify-content-center">
    <div class="col col-md-6">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: "msform"}) do |f| %>  
        <fieldset>
        
          <h2 class="fs-title">LOGIN</h2>
          <h3 class="fs-subtitle"> Can't stay away from us.</h3>
          <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control", placeholder: "Username" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
          <%= f.submit "Login", class: " action-button" %>

        </fieldset>

      <% end %>
    </div>
  </div>
</div>

<%= render "devise/shared/links" %>