<%= stylesheet_link_tag 'navbar' %>
<%= javascript_pack_tag 'navbar' %>


<div class="top">
    <div class="links">
        <a href="https://github.com/shanifsheikh18/ContentApp" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://github.com/shanifsheikh18/ContentApp" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/shanifsheikh18/ContentApp" target="_blank"><i class="fa-brands fa-github"></i></a>
    </div>
    <div class="head">
    <%= link_to "OST", root_path %><span>.</span>
    </div>
    <div class="search">
        <% if user_signed_in? %>
            <div class="dropdown">
                <div class="user-drop" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class ="fa-solid fa-circle-user"></i>
                        <strong class="profile-name"><%= current_user.username.upcase %></strong>
                </div>
                <ul class="dropdown-menu">
                <li><%= button_to "Delete Profile", registration_path(current_user),class: "dropdown-item", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></li>
                <li><%= link_to 'Edit Profile', edit_user_registration_path, class: "dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
                </ul>
            </div>
        <% else %>
        <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>

        <i class="fa-solid fa-bars on hamburger"></i>
    </div>
</div>

<div class="nav-alert">
    <ul class="navigation1">
    <i class='close'><i class="fa-solid fa-xmark"></i></i>
            <li><%= link_to "HOME", root_path %></li>
            <li><a href="#about" class="out">ABOUT</a></li>
            <% if !user_signed_in? %>
                <li><%= link_to "LOGIN", new_user_session_path %></li>
                <li><%= link_to "REGISTER", new_user_registration_path %></li>
            <% else %>
                <li><%= link_to "CREATE CONTENT", new_content_path %></li>
            <% end %>         
    </ul>
</div>

<div class="header">
<ul class="navigation">
    <li><%= link_to "HOME", root_path %></li>
    <li><%= link_to "VIEW CONTENTS", contents_path %></li>
    
    <% if !user_signed_in? %>
    <li><%= link_to "LOGIN", new_user_session_path %></li>
    <li><%= link_to "REGISTER", new_user_registration_path %></li>
    <% else %>
    <li><%= link_to "CREATE CONTENT", new_content_path %></li>
    <% end %>
</ul>
</div>